<p id="notice"><%= notice %></p>

<p>
  <b>Categoria:</b>
  <%= @perfil.categoria_id %>
</p>

<p>
  <b>User:</b>
  <%= @perfil.user %>
</p>

<p>
  <b>Nome:</b>
  <%= @perfil.nome %>
</p>


<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfis_path %>
